################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TeamsApp/env/.env.local
/TeamsApp/env/.env.local.user
